.idea
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.vscode/
**/.vscode/
.phpintel/
**/.phpintel/
/node_modules
.idea
.env*
key*
/docs
npm-debug.log
yarn.lock
package-lock.json
yarn-error.log
localurl.crt
localurl.key
proxy.js
config/live.env
config/dev.env