<div style="background-color: #FAFAFB;">
    <div class="tc pv4"><img src="" width="200px" alt="No results"></div>
    <div class="f2-l f3 tc">This is embarrassing!</div>
    <div class="about-sub-text f-book pt3 w-50-l w-60 tc center">
        <p>“Oh bananas! We broke something. No worries, we are on it. Pick up where you left off by going back."</p>
    </div>
    <div class="pt4 tc pb4">
        <a href="/" class="pv3 button button-orange w-20-l w-60">Home</a>
    </div>
</div>