<%- include('./inc/header'); %>

<!-- header end  -->
<div class="page-title-area overlay-bg style-1"
    style="background-image :url(../../../www.wowtheme7.com/wp-content/uploads/2021/03/breadcum.html);  background-color :#5e35b1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h3 class="title"> About Us</h3>
            </div>
            <div class="col-md-12 text-center align-self-center">
                <ul class="breadcrumb">
                    <li class="breadcrumb-list"><a href="/" title="Home ">Home </a></li>
                    <li class="breadcrumb-list"><a href="/about">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- about-section start  -->
<section class="about-section about_two_page">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="">
                    <div class="heading-title">
                        <h6><span></span> About us</h6>
                        <h2>Putting our clients first</h2>
                        <p>For more than 10 years, we’ve been empowering clients by helping them take control of their
                            financial lives.</p>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <p>Tronixcoinhub is an investment management company. We are run by a team of trading
                                experts who generate profits by buying and selling currencies, stocks, options
                                and commodities on the foreign exchange market.
                                We employ a variety of trading techniques to achieve the set goals for the client.</p>
                            <p>Tronixcoinhub consists a team of financial market professionals assembled specifically
                                in order to provide the best possible trading conditions to its customers. Our
                                specialists
                                have been involved in the development of technical specification for designing
                                an up-to-date platform that is suitable for both beginners and experienced Investors.
                            </p>
                            <p>Tronixcoinhub offers a dual-level referral Commission. Your reward is 5% of every
                                investment a direct referral of yours makes and 1% of deposits made by your second-level
                                (indirect)
                                referrals. To receive referral commission, you don't need a deposit of your own. Just
                                create an
                                account and invite friends by giving them your referral link.
                                When your referral makes a deposit, the commission amount will immediately arrive at
                                your account</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h3>Why Tronixcoinhub ?</h3>
                            <p>Tronixcoinhub is committed to give an opportunity to as many investors as possible to
                                invest their money in crypto currency trading.
                                Our main task is to simplify both the trading and the process of getting a profit.</p>
                            <p>Our team operates to make you successful in trading. We practice an individual
                                approach to each client, which is based on our attentive treatment of investors,
                                large variety of assets, large amount of educational materials and a high-quality
                                support.</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body">
                            <h3>Tronixcoinhub Broker Benefits</h3>
                            <p>The benefits of trading with Tronixcoinhub include:</p>
                            <ul>
                                <li>Complete transparency of all transactions. Each Investor is in control of his
                                    trading account.
                                    All transactions on our website are completely transparent.</li>
                                <li>Unique Investment platform; Tronixcoinhub leading Investors have been involved in
                                    its development.
                                    It is designed to meet modern security and trading requirements.</li>
                                <li>Individual service for each client. It doesn't matter whether you have had previous
                                    experience
                                    trading crypto currency or not. We will guide you through the crypto currency
                                    trading. For this purpose,
                                    we provide not only high-quality education, but also interaction with personal
                                    managers.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-section end  -->

<!-- counterup-section start  -->
<section class="counterup-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="images">
                    <img src="images/counterup.png" alt="img">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-6">
                        <div class="item one_item">
                            <img src="images/handshake.png" alt="img">
                            <h5>Trading Instruments</h5>
                            <h3><span class="counter">213</span>+</h3>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="item">
                            <img src="images/Transaction.svg" alt="img">
                            <h5>Countries covered</h5>
                            <h3><span class="counter">120</span>+</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- counterup-section end  -->

<!-- features-section start  -->
<section class="features-section">
    <div class="container-fluid">
        <div class="container">
            <div class="heading-title">
                <h6><span></span> Our Services</h6>
                <h2>Services we provide</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="item active">
                        <div class="icon">
                            <img src="images/icon1.png" alt="img">
                        </div>
                        <h4>FOREX TRADING</h4>
                        <p>Forex trading is the act of buying or selling currencies. Banks, central banks,
                            corporations, institutional investors and individual traders exchange foreign
                            currency for a variety of reasons, including balancing the markets,
                            facilitating international trade and tourism, or making a profit.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <div class="icon">
                            <img src="images/icon2.png" alt="img">
                        </div>
                        <h4>CRYPTO TRADING & MINING</h4>
                        <p>With cryptocurrency being young, and the market being historically volatile,
                            there is no yes or no answer about the wisdom of investing in cryptocurrency.
                            It is with this in mind that we
                            cover some pros and cons and friendly (but not professional) advice.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <div class="icon">
                            <img src="images/icon3.png" alt="img">
                        </div>
                        <h4>REAL ESTATE INVESTMENT</h4>
                        <p>In a bid to attain financial stability, many search for proper investments
                            with their income. Improvement of realty property as part of a real estate investment
                            strategy is
                            generally considered to be a sub-specialty of real estate investing.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <div class="icon">
                            <img src="images/icon4.png" alt="img">
                        </div>
                        <h4>BINARY OPTIONS</h4>
                        <p>A binary option is a type of option with a fixed payout in which
                            you predict the outcome from two possible results. If your
                            prediction is correct, you receive the agreed payout.
                            If not, you lose your initial stake, and nothing more.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <div class="icon">
                            <img src="images/icon5.png" alt="img">
                        </div>
                        <h4>PRIVATE EQUITY</h4>
                        <p>Private equity typically refers to investment funds organized as limited
                            partnerships that are not publicly traded and whose investors are typically
                            large institutional investors, university endowments, or wealthy individuals.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="item">
                        <div class="icon">
                            <img src="images/icon6.png" alt="img">
                        </div>
                        <h4>STOCK & COMMODITY INVESTMENTS</h4>
                        <p>Invest in commodity-related stocks. Buying stocks to related to certain
                            commodities is a way to bet on the value of a commodity without incurring
                            all of the risk of futures trading. Commodity investments tend to attract
                            more investor attention when inflation fears start to mount.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- features-section start  -->
<%- include('./inc/footer'); %>