<%- include('./inc/header'); %>

<div class="page-title-area overlay-bg style-1" style="background-image :url(../../../www.wowtheme7.com/wp-content/uploads/2021/03/breadcum.html);  background-color :#5e35b1">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <h3 class="title">  Investment Plan</h3>
                    </div>
                    <div class="col-md-12 text-center align-self-center">
                         <ul class="breadcrumb">
                        <li class="breadcrumb-list"><a href="/" title="Home ">Home </a></li>
                        <li class="breadcrumb-list"><a href="/plans">Investment Plan</a></li>                             </ul>
                    </div>
                </div>
            </div>
        </div>

                
     <!-- pracing section start  -->
     <section class="pricing-section">
        <div class="container">
            <div class="heading-title">
                <h6><span></span>Investment Plans</h6>
                <h2>Our Best Plans</h2>
            </div>
            <ul class="nav nav-pills" id="pills-tab1" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class=" " id="pills-home-tab1" data-bs-toggle="pill" data-bs-target="#pills-home1" type="button">Investment Plans</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="active" id="pills-profile-tab2" data-bs-toggle="pill" data-bs-target="#pills-profile2" type="button">Mining Plans</button>
                </li>
            </ul>
              <div class="tab-content" id="pills-tabContent1">
                <div class="tab-pane fade show active" id="pills-home1" style="overflow: visible;">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="pracing-item ">
                                <!-- <div class="top-left">
                                    <p>5.50%</p>
                                </div> -->
                                <div class="top-area">
                                    <img src="images/icon001.svg" alt="img">
                                    <p>Basic</p>
                                </div>
                                <ul>
                                    <li><span><i class="fal fa-check"></i></span>Minimum Deposit : </li>
                                    <li><span><i class="fal fa-check"></i></span>Maximum Deposit : </li>
                                </ul>
                                <a href="/register" class="buy-now">Get Started</a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="pracing-item active">
                                <div class="top-area">
                                    <img src="images/icon02.svg" alt="img">
                                    <p>Platinum</p>
                                </div>
                                <ul>
                                    <li><span><i class="fal fa-check"></i></span>Minimum Deposit :</li>
                                    <li><span><i class="fal fa-check"></i></span>Maximum Deposit :</li>
                                </ul>
                                <a href="/register" class="buy-now">Get Started</a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="pracing-item">
                                <!-- <div class="top-left">
                                    <p>8.50%</p>
                                </div> -->
                                <div class="top-area">
                                    <img src="images/icon003.svg" alt="img">
                                    <p>Diamond</p>
                                </div>
                                <ul> 
                                    <li><span><i class="fal fa-check"></i></span>Minimum Deposit : </li>
                                    <li><span><i class="fal fa-check"></i></span>Maximum Deposit : </li>
                                </ul>
                                <a href="/register" class="buy-now">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile2" style="overflow: visible;">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="pracing-item ">
                                <!-- <div class="top-left">
                                    <p>5.50%</p>
                                </div> -->
                                <div class="top-area">
                                    <img src="images/icon001.svg" alt="img">
                                    <p>Bronze</p>
                                </div>
                                <ul>
                                    <li><span><i class="fal fa-check"></i></span>Minimum Deposit :</li>
                                    <li><span><i class="fal fa-check"></i></span>Maximum Deposit :</li>
                                </ul>
                                <a href="/register" class="buy-now">Get Started</a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="pracing-item active">
                                <!-- <div class="top-left">
                                    <p>7.50%</p>
                                </div> -->
                                <div class="top-area">
                                    <img src="images/icon002.svg" alt="img">
                                    <p>Silver</p>
                                </div>
                                <ul>
                                    <li><span><i class="fal fa-check"></i></span>Minimum Deposit :</li>
                                    <li><span><i class="fal fa-check"></i></span>Maximum Deposit :</li>
                                </ul>
                                <a href="/register" class="buy-now">Get Started</a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="pracing-item ">
                                <!-- <div class="top-left">
                                    <p>8.50%</p>
                                </div> -->
                                <div class="top-area">
                                    <img src="images/icon003.svg" alt="img">
                                    <p>Gold</p>
                                </div>
                                <ul>
                                    <li><span><i class="fal fa-check"></i></span>Minimum Deposit :</li>
                                    <li><span><i class="fal fa-check"></i></span>Maximum Deposit :</li>
                                </ul>
                                <a href="/register" class="buy-now">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </section>
    <!-- pracing section end  -->

    

     <!-- payment section start  -->
     <section class="payment-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h2>Payment We Accept</h2>
                        </div>
                        <div class="card-body">
                            <p>We accept all major banking and fiat payment methods to make your investment process easier with our platform.</p>
                            <h6>We Accepted These Payment Methods</h6>
                            <ul>
                                <li><a href="#"><img src="images/card.svg" alt="img"></a></li>
                                <li><a href="#"><img src="images/card1.svg" alt="img"></a></li>
                                <li><a href="#"><img src="images/card2.svg" alt="img"></a></li>
                                <li><a href="#"><img src="images/card3.svg" alt="img"></a></li>
                                <li><a href="#"><img src="images/card.svg" alt="img"></a></li>
                                <li><a href="#"><img src="images/card4.svg" alt="img"></a></li>
                                <li><a href="#"><img src="images/card5.svg" alt="img"></a></li>
                                <li><a href="#"><img src="images/card6.svg" alt="img"></a></li>
                                <li><a href="#"><img src="images/card7.svg" alt="img"></a></li>
                                <li><a href="#"><img src="images/card8.svg" alt="img"></a></li>
                                <li><a href="#"><img src="images/card9.svg" alt="img"></a></li>
                                <li><a href="#"><img src="images/card10.svg" alt="img"></a></li>
                                <li><a href="#"><img src="images/card11.svg" alt="img"></a></li>
                                <li><a href="#"><img src="images/card12.svg" alt="img"></a></li>
                                <li><a href="#"><img src="images/card13.svg" alt="img"></a></li>
                                <li><a href="#"><img src="images/card14.svg" alt="img"></a></li>
                                <li><a href="#"><img src="images/card15.svg" alt="img"></a></li>
                            </ul>
                            <a href="/register" class="theme_btn">Get started</a>
                        </div>
                    </div>
                </div>
                
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- payment section end  -->
    <%- include('./inc/footer'); %>