<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="images/favicon.html" type="image/x-icon" />
    <!-- Theme tittle -->
    <title>Index - Tronixcoinhub </title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="vendors/fontawesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="vendors/wow-js/animate.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&amp;family=Red+Hat+Display:wght@400;500;700;900&amp;family=Source+Sans+Pro:wght@300;400;600;700;900&amp;display=swap"
        rel="stylesheet">
    <link href="vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="vendors/magnific-popup/magnific-popup.min.css" rel="stylesheet">
    <!-- Theme style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
</head>

<body>

        <!-- header start  -->
        <header class="main-header">
            <div class="container">
                <div class="top-header">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="topbar-left">
                                <li><a href="mailto:managementtronixcoinhub@gmail.com"><span><i class="fa fa-envelope"></i></span>
                                        managementtronixcoinhub@gmail.com</a></li>
                                <li><a href="tel:+97657945737"><span class="phone"><i
                                                class="fa fa-phone"></i></span>+00000000</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="topbar-right">
                                <!-- <li ><a href="#">MoneyPro Offer</a></li>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li ><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li ><a href="#"><i class="fab fa-instagram"></i></a></li> -->
                                <li><a href="/login"><span><i class="fa fa-user"></i></span> Sign in </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="main-navbar">
                    <div class="nav-inner">
                        <a href="/l" class="brand"><img src="images/logo.png" alt="img"></a>
                        <ul class="desktop-menu">
                            <li><a class="active" href="/">Home</a> </li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/plans">Investment Plan</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/register">Sign up</a></li>
                        </ul>
                        <div class="mobile-header">
                            <div class="menu-icon">
                                <div class="open-menu"><i class="far fa-bars"></i></div>
                                <div class="close-menu"><i class="far fa-times"></i></div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="mobile-menu">
                    <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/plans">Investment Plan</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/register">Sign up</a></li>
                    </ul>
                </div>
            </div>
        </header>